<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://drive.google.com/uc?export=view&id=1aeESmCpF4sIavCJyGf1yNTMwnBSA-XKB" width="350px" style="margin-top: 20px; margin-left: 2%; margin-bottom: 20px;" alt="" srcset="">
    <hr>
    <div style="margin-left: 2%;">
        <p>Kepada Yth.</p>
        <p>Ujang Sigarantang</p>
        <p>di</p>
        <p>Tempat</p>
        <br>
        <p>Dengan ini diberitahukan kepada Ujang Sigarantang bahwa ada tamu dengan detail</p>
        <p></p>
    </div>
</body>
</html>